<body>
{{> navbar }}
<!-- content push wrapper -->
<div class="st-pusher" id="content" style="margin-top: 50px;">

    <!-- sidebar effects INSIDE of st-pusher: -->
    <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

    <!-- this is the wrapper for the content -->
    <div class="st-content">

        <!-- extra div for emulating position:fixed of the menu -->
        <div class="st-content-inner">

            <div class="cover overlay tutors height-200 height-250-xs">
                <div class="overlay overlay-full overlay-bg-grey">
                    <div class="container">
                        <h1 class="text-display-1 text-overlay">About Jump Institute</h1>
                        <p class="text-subhead text-overlay">Jump Institute's mission is to get students excited about STEAM. Simple right?! Our platform will facilitate students posting various forms of media such as videos, pictures and audio content, detailing prevalent STEAM concepts. The platform will also afford students the opportunity to pose questions to which they don't understand, or need a little extra help and get answers from peers.</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Our Mission Statement</h2>
                        <p>
                            Jump Institute’s mission is to reinvigorate students’ interest in Science, Technology, Engineering, Arts and Math (added this in, thoughts?) while empowering them to create and share learning experiences.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h2>A global social ecosystem</h2>
                        <p>
                            Envision a community of creators, thinkers, leaders with courage and confidence to “be the teacher”.  We believe that social networking can be utilized as an accelerator in our students’ motivation.  Through interactions and connections made all in the interest of education students will lead.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h2>Application of concepts to the Real-World</h2>
                        <p>
                            Studies have shown that students struggle with applying concepts to the real-world.  At Jump-In we will help to solve this problem by posting videos that connect concepts in the classroom to the real world.  With hopes that students are inspired to post their own videos, as well as questions they need help with and get answers from their peers.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h2>A global student-led classroom</h2>
                        <p>
                            We’re building a diverse community of students from across the country whom each approach learning in different ways.  Each with a unique perspective, who see our core STEAM concepts from a similar lens.  The idea is that through a student-led approach each student can assist and learn from another student.
                        </p>
                    </div>
                    <div class="col-lg-12">
                        <h2>Core Values</h2>
                        <b>Community</b>
                        <p>Building a community of leaders who are capable and ready to innovate and create.</p>
                        <b>Education</b>
                        <p>Facilitating the application of concepts and theories taught in the classroom to the real world.</p>
                        <b>Equipping Tomorrow</b>
                        <p>Developing the astrophysicists, engineers, developers, and analysts of tomorrow.</p>
                    </div>
                    <div class="col-lg-12">
                        <h2>Jarron Thomas</h2>
                        <p>Jarron Thomas is an entrepreneur, mentor, community builder and success champion.  He has spent 5 years in the tech and consulting industry finding solutions for Fortune 500 companies.  As a mentor he was inspired by witnessing students struggle in the classroom at applying concepts and was determined to find a solution.  Coupled with his own struggles as a child to find other students who had similar interests Jump Institute was formed.  His passion lies in building his community and giving every student a level playing field as it pertains to education.

                        If we’ve got the brightest student at the best school sharing what he/she knows and the brightest student at what is deemed “not the best” school sharing what he/she knows, then all of the students in our community are inspired to share what they know and are all better for it.  It levels the playing field.----Jarron
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <!-- /st-content-inner -->

    </div>
    <!-- /st-content -->

</div>
<!-- /st-pusher -->

<!-- Footer -->
<footer class="footer">
    <strong>ThemeKit</strong> v4.0.0 &copy; Copyright 2015
</footer>
<!-- // Footer -->

</div>
<!-- /st-container -->

<!-- Inline Script for colors and config objects; used by various external scripts; -->
<script>
    var colors = {
        "danger-color": "#e74c3c",
        "success-color": "#81b53e",
        "warning-color": "#f0ad4e",
        "inverse-color": "#2c3e50",
        "info-color": "#2d7cb5",
        "default-color": "#6e7882",
        "default-light-color": "#cfd9db",
        "purple-color": "#9D8AC7",
        "mustard-color": "#d4d171",
        "lightred-color": "#e15258",
        "body-bg": "#f6f6f6"
    };
    var config = {
        theme: "learning",
        skins: {
            "default": {
                "primary-color": "#16ae9f"
            },
            "orange": {
                "primary-color": "#e74c3c"
            },
            "blue": {
                "primary-color": "#4687ce"
            },
            "purple": {
                "primary-color": "#af86b9"
            },
            "brown": {
                "primary-color": "#c3a961"
            }
        }
    };
</script>
