<body class="breakpoint-480">
<div class="st-container">

    {{> navbar }}
    <!-- content push wrapper -->
    <div class="st-pusher" id="content">

        <!-- sidebar effects INSIDE of st-pusher: -->
        <!-- st-effect-3, st-effect-6, st-effect-7, st-effect-8, st-effect-14 -->

        <!-- this is the wrapper for the content -->
        <div class="st-content">

            <!-- extra div for emulating position:fixed of the menu -->
            <div class="st-content-inner">

                <div class="cover overlay cover-image-full home" style="height: 480px;">
                    <img src="images/classroom_picture.jpeg" alt="">

                    <div class="overlay overlay-bg-black">
                        <div class="container">
                            <div class="page-section">
                                <h1 class="margin-none text-display-1 text-overlay">Jump In</h1>

                                <p class="text-subhead text-overlay">Why Jump?! We at Jump-In believe students need an approach from the
                                    bottom-up.  One in which leverages not only the common core but what gets them going!  How can we
                                    utilize what students like to do to get them to learn?
                                </p>

                                <br>
                                <a class="btn bg-lightred btn-lg" href="/sign_up">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="text-center">
                        Find pictures, videos, questions, and most importantly answers to those questions that will help you to better understand what you learn in class.
                    </div>
                    <div class="text-center">
                        <h2>Features &amp; Highlights</h2>

                        <p class="lead text-muted">Learn about all of the features we offer.</p>
                        <br>
                    </div>
                    <div class="row gridalicious" data-toggle="gridalicious">
                        <div class="galcolumn" id="item0SXwZh"><div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-film fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Free homework help from peers.</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-life-bouy fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Find other students who share similar interests.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="galcolumn">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-user fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Share your opinion and make a difference</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-code fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Get more involved in what you love.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="galcolumn">
                            <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-print fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Increase your GPA</p>
                                    </div>
                                </div>
                            </div>
                        </div><div class="panel panel-default">
                            <div class="panel-body">
                                <div class="media">
                                    <i class="fa fa-tasks fa-2x fa-fw pull-left text-muted"></i>

                                    <div class="media-body">
                                        <p class="lead margin-none">Learn new skills</p>
                                    </div>
                                </div>
                            </div>
                        </div></div><div id="clearSXwZh"></div></div>
                </div>

            </div>
            <!-- /st-content-inner -->

        </div>
        <!-- /st-content -->

    </div>
    <!-- /st-pusher -->

    <!-- Footer -->
    <footer class="footer">
        <strong>JumpInstitute LLC</strong>© Copyright 2016
    </footer>
    <!-- // Footer -->

</div>
